@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

@media screen and (max-width: 1090px) {
    .me-div {
        visibility:hidden;
    }
    .creationsbox {
        visibility: hidden;
    }

    .creations-div {
        position: absolute;
        top: 35%;
        left: 1%;
        padding-right: 0.1rem;
      }
}
@media screen and (max-width: 500px) {
    #text1 {
        text-align: center;
        transform: rotate(0deg);
    }
    #text2 {
        top: 0.5rem;
        text-align: center;
        transform: rotate(0deg);
        padding: 0 3rem;
    }
    .box {
        height: 60%;
        top: 12%;
    }
}