body {
  height: 100vh;
  background-image: linear-gradient(
    rgba(159, 5, 123, 0.773),
    rgba(136, 38, 206, 0.437)
  );
  text-align: center;
  position: relative;
  margin: auto;
}

.box {
  background-image: linear-gradient(
    rgba(33, 10, 103, 0.918),
    rgba(0, 0, 0, 0.508)
  );
  position: absolute;
  top: 10%;
  left: 5%;
  width: 80%;
  height: 65%;
  padding: 5%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  text-align: center;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: -0.01%;
}

.bio {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}

.icon-div {
  position: relative;
  top: 10%;
  /* left: 20%; */
}

.creations-div {
  /* position: absolute;
  top: 55%;
  left: 36%; */
  /* margin-bottom: 5rem; */
}

.icon {
  font-size: 48px;
  padding: 1%;
}

.me-div {
  position: relative;
  top: 35%;
  right: 47%;
  display: inline-block;
  border-radius: 1rem;
}

.creations {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.creations2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  position: absolute;
  left: 5rem;
}

.creations-list {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.creations:hover {
  background: -webkit-linear-gradient(rgb(8, 232, 98), rgb(237, 8, 233));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creations2:hover {
  background: -webkit-linear-gradient(rgb(8, 232, 98), rgb(237, 8, 233));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ol {
  padding: 0;
  margin: 0;
  max-width: 700px;
  position: relative;
  list-style: none;
}

ol::before {
  content: "";
  width: 0.8rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  background: rgb(167, 19, 252);
  z-index: -1;
}

li {
  padding: 0.5rem 1.5rem 1rem;
  border-radius: 1.5rem;
  background: rgb(93, 9, 202);
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
}

li + li {
  margin-top: 1rem;
}

#text1 {
  font-size: 1.5rem;
  transform: rotate(5deg);
}

#text2 {
  font-size: 1.5rem;
  /* bottom: 4rem; */
  transform: rotate(-8deg);
  position: absolute;
  top: 2rem;
}

#text3 {
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: -1rem;
  padding-left: 1rem;
}

.creations-title {
  margin-top: 3rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  /* position: relative; */
  margin-bottom: -5rem;
  /* top: 50%; */
  /* right: 20%; */
}

.animate__animated.heartBeat {
  --animate-delay: 0.9s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
